sample_flows.json
[
  {
    "id": "49af75a4.88ee6c",
    "type": "codef",
    "z": "4d37b745.a13678",
    "action": "",
    "x": 490,
    "y": 80,
    "wires": [
      [
        "682d40ff.8a56a"
      ]
    ]
  },
  {
    "id": "359f9ea2.c73c62",
    "type": "inject",
    "z": "4d37b745.a13678",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 80,
    "wires": [
      [
        "39f7fe1.1329002"
      ]
    ]
  },
  {
    "id": "738de18c.a3be8",
    "type": "debug",
    "z": "4d37b745.a13678",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 80,
    "wires": []
  },
  {
    "id": "39f7fe1.1329002",
    "type": "function",
    "z": "4d37b745.a13678",
    "name": "",
    "func": "msg.action = 'createAccount';\nmsg.accountList = [];\nconst accountIDPWD = {\n  countryCode: 'KR',\n  businessType: 'BK',\n  clientType: 'P',\n  organization: '0081',\n  loginType: '1',\n  id: 'user_id',\n  password: 'user_password'\n};\n\nmsg.accountList.push(accountIDPWD);\n\n// get card list\nmsg.action = '/v1/kr/card/p/account/card-list';\nmsg.param = {\n  connectedId: 'byi1wYwD40k8hEIiXl6bRF',\n  organization: '0309',\n  birthDate : '',\n  inquiryType: '0'\n};\n\n  \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 80,
    "wires": [
      [
        "49af75a4.88ee6c"
      ]
    ]
  },
  {
    "id": "3074d281.9c74ee",
    "type": "function",
    "z": "4d37b745.a13678",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 800,
    "y": 80,
    "wires": [
      [
        "738de18c.a3be8"
      ]
    ]
  },
  {
    "id": "682d40ff.8a56a",
    "type": "json",
    "z": "4d37b745.a13678",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 80,
    "wires": [
      [
        "3074d281.9c74ee"
      ]
    ]
  }
]
